@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  gap: 16px;
  height: 100vh;
  background-color: #1f1f1f;
  overflow: hidden;
}

.container {
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}

.button {
  padding: 5px 16px;
  background-color: #fca311;
  font-size: 18px;
  border-radius: 5px;
  min-width: 111px;
  text-align: center;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.button:hover {
  box-shadow: 0 4px 8px #fca2116b;
  transform: translateY(-2px);
}

.canvas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  height: 100vh;
}

.canvas {
  max-width: 800px;
  max-height: 800px;
  height: 80vw;
  width: 80vw;
  aspect-ratio: 1/1;
  flex-grow: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  align-items: center;
  background-color: #fff;
  user-select: none;
  cursor: auto;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.size-button {
  padding: 5px 16px;
  width: 60%;
}

.slider {
  appearance: none;
  height: 5px;
  width: 100%;
  background: linear-gradient(90deg, #fca311 16%, #fff 16%);
  border-radius: 1rem;
  outline: none;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  height: 20px;
  width: 20px;
  background-color: #fca311;
  border-radius: 1rem;
  outline: none;
  transition: box-shadow 0.3s;
}

.slider::-moz-range-thumb {
  height: 20px;
  width: 20px;
  background-color: #fca311;
  border-radius: 1rem;
  outline: none;
  transition: box-shadow 0.3s;
}

.slider::-ms-thumb {
  height: 20px;
  width: 20px;
  background-color: #fca311;
  border-radius: 1rem;
  outline: none;
  transition: box-shadow 0.3s;
}

.slider::-webkit-slider-runnable-track {
  appearance: none;
}

.slider::-moz-range-track {
  appearance: none;
}

.slider::-ms-track {
  appearance: none;
}

.slider::-webkit-slider-thumb:hover,
.slider::-moz-range-thumb:hover,
.slider::-ms-thumb:hover {
  box-shadow: 0 0 4px 2px #fca211a3;
  cursor: pointer;
}

.slider:active::-webkit-slider-thumb,
.slider:active::-moz-range-thumb,
.slider:active::-ms-thumb {
  box-shadow: 0 0 5px 5px #fca2116b;
  cursor: ew-resize;
}

.colorPicker {
  appearance: none;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #1f1f1f;
  border: none;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.colorPicker::-webkit-color-swatch-wrapper {
  padding: 0;
}

.colorPicker::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
  box-shadow: rgba(176, 175, 175, 0.24) 0px 3px 8px;
}

:root {
  --colorPicker-shadow: rgba(252, 163, 17, 0.3);
}

.colorPicker:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(255, 252, 252, 0.3),
    0 4px 2px var(--colorPicker-shadow);
}

.Erase.glow,
.Sketch.glow {
  box-shadow: 0 0 10px 5px #fca2116b;
  transition: box-shadow 0.3s ease;
}

.cellSize-left {
  margin-right: -40px;
}

.cellSize {
  color: #fff;
  font-size: large;
  width: 15px;
  text-align: center;
}
.heading {
  text-align: center;
  color: #fca311;
  font-size: 32px;
  /* margin-bottom: 16px; */
}
