@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  /* margin: 1rem; */
  gap: 16px;
  height: 100vh;
  background-color: #1f1f1f;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  height: 100vh;
}
.canvas {
  max-width: 800px;
  max-height: 800px;
  height: 80vw;
  width: 80vw;
  aspect-ratio: 1/1;
  flex-grow: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  align-items: center;
  background-color: #fff;
}
.size-button {
  padding: 5px 16px;
  width: 30%;
}

.slider {
  -webkit-appearance: none;
  height: 5px;
  width: 100%;
  background: linear-gradient(90deg, #fca311 16%, #fff 16%);
  border-radius: 1rem;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background-color: #fca311;
  border-radius: 1rem;

  outline: none;
  transition: box-shadow 0.3s;
}
.slider::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  color: #2596be;
}

.slider::-webkit-slider-thumb:hover {
  box-shadow: 0 0 10px 10px #fca211a3;
  cursor: pointer;
}
.slider:active::-webkit-slider-thumb {
  box-shadow: 0 0 20px 10px #fca211e5;
  cursor: ew-resize;
}
